.card-hover {
  transition: all 0.3s ease;
}
.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 256px;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  z-index: 1000;
  transform: translateX(0);
}
.sidebar.hidden {
  transform: translateX(-100%);
}
.sidebar .content {
  height: 100%;
  overflow-y: auto;
}
.main-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}
.main-content .content-wrapper {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}
.error-field {
  border-color: #ef4444 !important;
  box-shadow: 0 0 10px rgba(239, 68, 68, 0.7);
  background: rgba(239, 68, 68, 0.1);
}
.error-label {
  color: #ef4444 !important;
}
@media (min-width: 640px) {
  .main-content {
    margin-left: 256px;
  }
}
@media (max-width: 640px) {
  .sidebar {
    width: 200px;
  }
  .form-container {
    max-height: 90vh;
    overflow-y: auto;
  }
  .form-container form {
    padding: 0.5rem;
  }
  label,
  input,
  select {
    font-size: 0.75rem; /* text-xs */
  }
  .photo-preview-container img {
    height: 4.5rem; /* h-18 */
    width: 4.5rem; /* w-18 */
  }
}
